QPushButton
{
color:rgb(153, 151, 146);
}

QPushButton:hover
{
color: rgb(251, 137, 89);
border:none;
}

QToolButton:hover
{
border:none;
}




QToolTip
{
color:rgb(153, 151, 146);
background-color::rgb(153, 151, 146,0);
border: none;
}
